<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>管理员页面</title>
    <link rel="stylesheet" href="Web/admin/css/admin-core.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="Web/admin/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="Web/admin/css/bootstrap-table.css">
</head>

<body>
    <div id="wrapper">
        <!-- 侧边导航栏展开时覆盖 -->
        <div class="overlay"></div>

        <!-- 顶部导航栏 -->
        <nav id="nav" class="navbar navbar-default navbar-fixed-top user">
            <div class="container-fluid layer clear-float">
                <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>
                <ul class="nav navbar-nav pt12">
                    <span><img id="user-icon" src="Web/admin/img/admin.jpg" alt=""></span>
                    <strong class="ml20">{{user_id}}</strong>
                    <span class="ml20">您好！</span>
                </ul>
                <ul class="nav fr mt15">
                    <span id="time">
                        <script>
                            setInterval("document.getElementById('time').innerHTML=new Date().toLocaleString();", 1000);
                        </script>
                    </span>
                    <span id="log-out" class="ml20">退出登录</span>
                </ul>
            </div>
        </nav>

        <!-- 侧边导航栏 -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-title">
                    <span>功能选择</span>
                </li>
                <li class="item">
                    <span>销售数据</span>
                </li>
                <li class="item">
                    <span>员工管理</span>
                </li>
                <li class="item">
                    <span>商品管理</span>
                </li>
                <li class="item">
                    <span>个人管理</span>
                </li>
            </ul>
        </nav>

        <!-- 系统贴图 -->
        <div id="sys-img" class="layer"></div>

        <!-- 销售额数据 -->
        <div id="sale-data-box" class="layer mt15 box-border box-shadow box-background-color sale-val">
            <span class="subtitle mt15 ml20">销售额数据</span>
            <ul id="sale-data" class="clear-float">
                <li class="fl mt15">
                    <span class="sale-title">当年总销售额：</span>
                    <span id="year-sale">{{year_sum}}元</span>
                </li>
                <li class="fl mt15 ml70">
                    <span class="sale-title">当季度总销售额：</span>
                    <span id="season-sale">{{season_sum}}元</span>
                </li>
                <li class="fl mt15 ml70">
                    <span class="sale-title">当月总销售额：</span>
                    <span id="month-sale">{{month_sum}}元</span>
                </li>
                <li class="fl mt15 ml70">
                    <span class="sale-title">当日总销售额：</span>
                    <span id="today-sale">{{day_sum}}元</span>
                </li>
            </ul>
        </div>

        <!--    &lt;!&ndash; 销售额变化统计 &ndash;&gt;-->
        <div id="sale-graph-box" class="layer mt15 box-border box-shadow box-background-color sale-fig">
            <div id="sale-graph-box-head" class="clear-float">
                <span class="subtitle mt15 ml20 fl">销售额变化统计</span>
                <select v-model="cnt_chs" onchange="onFigCntChs()" id="statis-options"
                    class="selectpicker mt15 ml20 fl">
                    <option value="month">按月份</option>
                    <option value="season">按季度</option>
                    <option value="type">按商品类别</option>
                    <option value="id">按商品id</option>
                </select>
                <div class="col-sm-6 fl date-box mt10 ml20">
                    <div class="form-group">
                        <div id="graph-start-date" v-show="cnt_chs != 'season'" class='input-group date datetimepicker'>
                            <input v-model="st_date" onchange="onFigDate()" type='text' class="form-control"
                                placeholder="开始日期" name="x-min" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 fl date-box mt10 ml20">
                    <div class="form-group">
                        <div id="graph-end-date" v-show="cnt_chs != 'season'" class='input-group date datetimepicker'>
                            <input v-model="ed_date" onchange="onFigDate()" type='text' class="form-control"
                                placeholder="结束日期" name="x-max" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <form id="input-goods-info" class="form-inline ml20 fl" role="form">
                    <div class="col-lg-6" style="width: auto;">
                        <div class="input-group" v-show="cnt_chs != 'month' && cnt_chs != 'season'">
                            <input v-model="sch_txt" type="text" class="form-control" placeholder="请输入商品类别/名称/id"
                                name="refer-to">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" onclick="onFigCfmSch()">确定</button>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </form>
                <label class="mt15" v-show="cnt_chs != 'month' && cnt_chs != 'season'"><input type="radio" name='y'
                        value="sale" v-model="mtd_chs" checked="checked" onchange="onFigMtdChs()"
                        v-show="cnt_chs != 'month' && cnt_chs != 'season'" />按销售额</label>
                <label class="mt15 ml20" v-show="cnt_chs != 'month' && cnt_chs != 'season'"><input type="radio" name='y'
                        value="cnt" v-model="mtd_chs" onchange="onFigMtdChs()"
                        v-show="cnt_chs != 'month' && cnt_chs != 'season'" />按销售量</label>
            </div>
            <div id="sale-graph" class="ml20 mr20 mt15 box-background-color"></div>
        </div>

        <!--     购物记录-->
        <div id="buy-list" class="layer mt15 mb3 box-border box-background-color box-shadow sale-list">

            <span class="subtitle mt15 ml20">销售记录</span>

            <ul id="time-option" class="nav nav-pills clear-float mt15 ml20">
                <!-- <li role="presentation" class="active"><a href="#">当日</a></li>
            <li role="presentation"><a href="#">7天内</a></li>
            <li role="presentation"><a href="#">30天内</a></li>
            <li role="presentation"><a href="#">自定义</a></li> -->
                <label class="mt15"><input type="radio" name='y' value="day" v-model="cnt_chs" checked="checked"
                        onclick="onListMtdChs()" />当日</label>
                <label class="mt15 ml20"><input type="radio" name='y' value="week" v-model="cnt_chs"
                        onclick="onListMtdChs()" />7天内</label>
                <label class="mt15 ml20"><input type="radio" name='y' value="month" v-model="cnt_chs"
                        onclick="onListMtdChs()" />30天内</label>
                <label class="mt15 ml20"><input type="radio" name='y' value="auto" v-model="cnt_chs"
                        onclick="onListMtdChs()" />自定义</label>


                <div class="col-sm-6 fl date-box">
                    <div class="form-group">
                        <div id="table-start-date" class='input-group date datetimepicker'>
                            <input type='text' v-model="st_date" onchange="onListDate()" class="form-control"
                                placeholder="开始日期" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 fl date-box">
                    <div class="form-group">
                        <div id="table-end-date" class='input-group date datetimepicker'>
                            <!--v-show="v_sale_list.cnt_chs == 'auto'"-->
                            <input type='text' v-model="ed_date" onchange="onListDate()" class="form-control"
                                placeholder="结束日期" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </ul>
            <table id="buy-list-table" class="ml20 mr20 mt15"></table>
        </div>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="Web/admin/js-ref/bootstrap-datetimepicker.min.js"></script>
    <script src="Web/admin/js-ref/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="Web/admin/js-ref/bootstrap-table.js"></script>
    <script src="Web/admin/js-ref/bootstrap-table.zh-CN.js"></script>
    <script src="Web/admin/js-ref/echarts.min.js"></script>
    <script>
        cmd_str = window.location.search.split('?')[1];
        // alert(cmd_str);
    </script>
    <script>
        var v_user = new Vue({
            el: '.user',
            data: {
                user_id: 'null',
            }
        });

        var v_sale_val = new Vue({
            el: '.sale-val',
            data: {
                year_sum: 'year',
                season_sum: 'season',
                month_sum: 'month',
                day_sum: 'day'
            }
        });

        var v_sale_fig = new Vue({
            el: '.sale-fig',
            data: {
                cnt_chs: 'month', //month,season,type,name,id
                st_date: '2019-01',
                ed_date: '2019-02',
                sch_txt: '',
                mtd_chs: 'sale' //sale,cnt
            }
        });

        var v_sale_list = new Vue({
            el: '.sale-list',
            data: {
                cnt_chs: 'day', //day,week,month,auto
                st_date: '2019-02-01',
                ed_date: '2019-03-01',
                buy_lst: [{
                    buy_date: '',
                    user_id: '',
                    mngr_id: '',
                    gds_id: '',
                    buy_cnt: 0,
                    gds_type: '',
                    gds_name: '',
                    gds_prc: 0,
                    gds_prc_sum: 0
                }]
            }
        });
        v_user.user_id = cmd_str;
    </script>
    <script>
        function pullAnalFigByCmd(cmd, args) {
            // // alert('why send');
            $.post("adminFigQuery", {
                mngrid: v_user.user_id,
                cmd: cmd,
                offset: 0,
                limit: 10,
                args: args
            }, function (result) {
                // alert(result);
                var obj = JSON.parse(result);
                if (obj["stat"] == "invalid") {
                    // alert('failed');
                } else {
                    switch (cmd) {
                        case 8:
                            // // alert('起止月份查询'+'x = '+obj.x+'\n'+'y = '+obj.y);//起止月份查询
                            // alert("why x" + obj.x);
                            // alert('why y:' + obj.y);
                            presentChart(obj.x, obj.y);
                            break;
                        case 9:
                            // // alert('按季度查询'+'x = '+obj.x+'\n'+'y = '+obj.y);//按季度查询
                            // alert("why x" + obj.x);
                            // alert('why y:' + obj.y);
                            presentChart(obj.x, obj.y);
                            break;
                        case 10:
                            // // alert('按类别查询'+'x = '+obj.x+'\n'+'y = '+obj.y);//按类别查询

                            presentChart(obj.x, obj.y);
                            break;
                        case 11:
                            // // alert('按名称查询'+'x = '+obj.x+'\n'+'y = '+obj.y);//按名称查询
                            presentChart(obj.x, obj.y);
                            break;
                        case 12:
                            // // alert('按id查询'+'x = '+obj.x+'\n'+'y = '+obj.y);//按id查询
                            presentChart(obj.x, obj.y);
                            break;
                    }
                }
            });
        }

        function pullAnalValByCmd(cmd, args) {
            // // alert('why send');
            $.post("adminValQuery", {
                mngrid: v_user.user_id,
                cmd: cmd,
                offset: 0,
                limit: 10,
                args: args
            }, function (result) {
                // alert(result);
                var obj = JSON.parse(result);
                if (obj["stat"] == "invalid") {
                    // alert('failed');
                } else {
                    switch (cmd) {
                        case 13: {
                            v_sale_val.year_sum = obj.vals[0];
                            v_sale_val.season_sum = obj.vals[1];
                            v_sale_val.month_sum = obj.vals[2];
                            v_sale_val.day_sum = obj.vals[3];
                            if (v_sale_list.cnt_chs == 'day') {
                                var true_vals = obj.vals.slice(4);
                                // alert('单日查询:'+'x = '+true_vals);//单日查询
                            }
                            break;
                        }
                        case 14: {
                            var true_vals = obj.vals.slice(1);
                            // alert('week/month查询:'+'x = '+true_vals);//week/month查询
                            break;
                        }
                        case 15: {
                            var true_vals = obj.vals.slice(1);
                            // alert('自定义auto查询:'+'x = '+true_vals);//自定义auto查询
                            break;
                        }
                    }
                }
            });
        }
    </script>
    <script>
        function onFigCntChs() {
            // alert('onFigCntChs');
            setTimeout(() => {
                if (v_sale_fig.cnt_chs == 'month') //month,season,type,name,id
                {
                    pullAnalFigByCmd(8, [v_sale_fig.st_date, v_sale_fig.ed_date]);
                } else if (v_sale_fig.cnt_chs == 'season') {
                    pullAnalFigByCmd(9, []);
                } else if (v_sale_fig.cnt_chs == 'type') {
                    /*しらず*/
                    // pullAnalFigByCmd(10,[v_sale_fig.sch_txt,v_sale_fig.mtd_chs,v_sale_fig.st_date,v_sale_fig.ed_date]);
                } else if (v_sale_fig.cnt_chs == 'name') {
                    /*しらず*/
                    // pullAnalFigByCmd(11,[v_sale_fig.sch_txt,v_sale_fig.mtd_chs,v_sale_fig.st_date,v_sale_fig.ed_date]);
                } else if (v_sale_fig.cnt_chs == 'id') {
                    /*しらず*/
                    // pullAnalFigByCmd(12, [v_sale_fig.sch_txt, v_sale_fig.mtd_chs, v_sale_fig.st_date, v_sale_fig.ed_date]);
                }
            }, 200);

        }

        function onFigDate() {
            // alert('onFigDate');
            setTimeout(() => {
                if (v_sale_fig.cnt_chs == 'month') //month,season,type,name,id
                {
                    pullAnalFigByCmd(8, [v_sale_fig.st_date, v_sale_fig.ed_date]);
                } else if (v_sale_fig.cnt_chs == 'season') {
                    pullAnalFigByCmd(9, []);
                } else if (v_sale_fig.cnt_chs == 'type') {
                    /*しらず*/
                    // pullAnalFigByCmd(10,[v_sale_fig.sch_txt,v_sale_fig.mtd_chs,v_sale_fig.st_date,v_sale_fig.ed_date]);
                } else if (v_sale_fig.cnt_chs == 'name') {
                    /*しらず*/
                    // pullAnalFigByCmd(11,[v_sale_fig.sch_txt,v_sale_fig.mtd_chs,v_sale_fig.st_date,v_sale_fig.ed_date]);
                } else if (v_sale_fig.cnt_chs == 'id') {
                    /*しらず*/
                    // pullAnalFigByCmd(12, [v_sale_fig.sch_txt, v_sale_fig.mtd_chs, v_sale_fig.st_date, v_sale_fig.ed_date]);
                }
            }, 200);
        }

        function onFigCfmSch() {
            // alert('onFigCfmSch');
            setTimeout(() => {
                if (v_sale_fig.cnt_chs == 'month') //month,season,type,name,id
                {
                    pullAnalFigByCmd(8, [v_sale_fig.st_date, v_sale_fig.ed_date]);
                } else if (v_sale_fig.cnt_chs == 'season') {
                    pullAnalFigByCmd(9, []);
                } else if (v_sale_fig.cnt_chs == 'type') {
                    pullAnalFigByCmd(10, [v_sale_fig.sch_txt, v_sale_fig.mtd_chs, v_sale_fig.st_date, v_sale_fig
                        .ed_date
                    ]);
                } else if (v_sale_fig.cnt_chs == 'name') {
                    pullAnalFigByCmd(11, [v_sale_fig.sch_txt, v_sale_fig.mtd_chs, v_sale_fig.st_date, v_sale_fig
                        .ed_date
                    ]);
                } else if (v_sale_fig.cnt_chs == 'id') {
                    pullAnalFigByCmd(12, [v_sale_fig.sch_txt, v_sale_fig.mtd_chs, v_sale_fig.st_date, v_sale_fig
                        .ed_date
                    ]);
                }
            }, 200);
        }

        function onFigMtdChs() {
            // alert('onFigMtdChs');
            setTimeout(() => {
                if (v_sale_fig.cnt_chs == 'month') //month,season,type,name,id
                {
                    pullAnalFigByCmd(8, [v_sale_fig.st_date, v_sale_fig.ed_date]);
                } else if (v_sale_fig.cnt_chs == 'season') {
                    pullAnalFigByCmd(9, []);
                } else if (v_sale_fig.cnt_chs == 'type') {
                    /*しらず*/
                    // pullAnalFigByCmd(10,[v_sale_fig.sch_txt,v_sale_fig.mtd_chs,v_sale_fig.st_date,v_sale_fig.ed_date]);
                } else if (v_sale_fig.cnt_chs == 'name') {
                    /*しらず*/
                    // pullAnalFigByCmd(11,[v_sale_fig.sch_txt,v_sale_fig.mtd_chs,v_sale_fig.st_date,v_sale_fig.ed_date]);
                } else if (v_sale_fig.cnt_chs == 'id') {
                    /*しらず*/
                    // pullAnalFigByCmd(12, [v_sale_fig.sch_txt, v_sale_fig.mtd_chs, v_sale_fig.st_date, v_sale_fig.ed_date]);
                }
            }, 200);
        }

        function onListDate() {
            // alert('onListDate');
            setTimeout(() => {
                if (v_sale_list.cnt_chs == 'day') //month,season,type,name,id
                {
                    pullAnalValByCmd(13, []);
                } else if (v_sale_list.cnt_chs == 'week') {
                    pullAnalValByCmd(14, ["week"]);
                } else if (v_sale_list.cnt_chs == 'month') {
                    pullAnalValByCmd(14, ["month"]);
                } else if (v_sale_list.cnt_chs == 'auto') {
                    pullAnalValByCmd(15, [v_sale_list.st_date, v_sale_list.ed_date]);
                }
            }, 200);
        }

        function onListMtdChs() {
            // alert('onListMtdChs');
            setTimeout(() => {
                if (v_sale_list.cnt_chs == 'day') //month,season,type,name,id
                {
                    pullAnalValByCmd(13, []);
                } else if (v_sale_list.cnt_chs == 'week') {
                    pullAnalValByCmd(14, ["week"]);
                } else if (v_sale_list.cnt_chs == 'month') {
                    pullAnalValByCmd(14, ["month"]);
                } else if (v_sale_list.cnt_chs == 'auto') {
                    pullAnalValByCmd(15, [v_sale_list.st_date, v_sale_list.ed_date]);
                }
            }, 200);
        }
    </script>
    <script>
        pullAnalFigByCmd(8, [v_sale_fig.st_date, v_sale_fig.ed_date]);
        pullAnalValByCmd(13, []);
    </script>
    <script src="Web/admin/js/admin-core.js" type="text/javascript"></script>
</body>

</html>