<!doctype html>
<html lang="zh" class="no-js">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../css/rcmd-reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="../css/rcmd-detail-style.css"> <!-- Resource style -->
	<script src="../js/modernizr.js"></script> <!-- Modernizr -->
</head>

<body>
	<ul class="cd-items cd-container">
		<li class="cd-item">
			<img src="../img/celldemo-1.jpg" alt=" Item Preview">
			<a href="#0" class="cd-trigger"></a>
		</li> <!-- cd-item -->
		<!-- cd-item -->
		<!-- cd-item -->
		<!-- cd-item -->
		<!-- cd-item -->
		<!-- cd-item -->
		<!-- cd-item -->
		<!-- cd-item -->
		<!-- cd-item -->
		<!-- cd-item -->
		<!-- cd-item -->
		<!-- cd-item -->
	</ul> <!-- cd-items -->

	<div class="cd-quick-view">

		<div class="cd-slider-wrapper">
			<ul class="cd-slider">
				<li class="selected"><img src="../img/celldemo-1.jpg" alt="Product 1"></li>
				<li><img src="../img/celldemo-2.jpg" alt="Product 2"></li>
				<li><img src="../img/celldemo-3.jpg" alt="Product 3"></li>
			</ul> <!-- cd-slider -->

			<ul class="cd-slider-navigation">
				<li><a class="cd-next" href="#0">Prev</a></li>
				<li><a class="cd-prev" href="#0">Next</a></li>
			</ul> <!-- cd-slider-navigation -->
		</div> <!-- cd-slider-wrapper -->

		<div class="cd-item-info">
			<h2>Produt Title</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, omnis illo iste ratione. Numquam
				eveniet quo, ullam itaque expedita impedit. Eveniet, asperiores amet iste repellendus similique
				reiciendis, maxime laborum praesentium.</p>

			<ul class="cd-item-action">
				<li><button class="add-to-cart">加入购物车</button></li>
				<li><a href="#">查看详页</a></li>
			</ul> <!-- cd-item-action -->
		</div> <!-- cd-item-info -->

		<a href="#0" class="cd-close">Close</a>

	</div> <!-- cd-quick-view -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="../js/velocity.min.js"></script>
	<script src="../js/rcmd-detail-main.js"></script>

</body>

</html>