<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>

<body>
    <input type="text" name="userid" id="text-userid">
    <input type="password" name="passwd" id="text-passwd">
    <button id="submit">submit</button>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $("#submit").click(function () {
            alert("submit");
            var userid = document.getElementById("text-userid").value;
            var passwd = document.getElementById("text-passwd").value;
            alert("userid = " + userid + "\n" + "passwd = " + passwd);
            $.post("loginCheck", {
                userid: userid,
                passwd: passwd
            }, function (result) {
                alert(result);
            });
        })
    </script>
</body>

</html>