<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>收银员操作平台</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" type="text/css" href="../css/accnt-box-component.css" />
    <script src="../js/modernizr.custom.js"></script>
</head>

<body>
    <div class="container">
        <div id="bl-main" class="bl-main">
            <section>
                <div class="bl-box">
                    <h2 class="bl-icon bl-icon-about">客户识别</h2>
                </div>
                <div id="recg" class="bl-content">
                    <div class="content-title">
                        <h2>{{hints}}</h2>
                    </div>
                    <div class="content-interval"> </div>
                    <div class="content-left">
                        <input id="recg-input" v-model="inputuserid" type="text" placeholder="无人脸信息?在这里手动输入用户名（ID）">
                        <p>当前用户识别状态：{{stat}}</p>
                        <p>用户真实姓名：{{username}}</p>
                        <p>用户名（ID）：{{userid}}</p>
                    </div>
                    <div class="content-right">
                        <p>人脸信息识别指示：</p>
                        <button id="recg-btn" class="btn-confirm">
                            <p>点按以识别</p>
                        </button>
                        <video src="" width="230" height="230"></video>
                        <canvas id="canvas" width="230" height="230"></canvas>
                        <!-- <img src="../img/qrcode.jpg" alt="空信息"> -->
                    </div>
                </div>
                <span class="bl-icon bl-icon-close"></span>
            </section>

            <section id="bl-work-section">
                <div class="bl-box">
                    <h2 class="bl-icon bl-icon-works">收银台</h2>
                </div>
                <div id="counter" class="bl-content">
                    <div class="content-title">
                        <h2>当前客户认证身份：{{userid}} -- {{username}}</h2>
                    </div>
                    <div class="content-interval"> </div>
                    <div class="content-left">
                        <input v-model="goodsidCmd" id="counter-input" type="text" placeholder="请输入要购买的商品（ID;个数）：">
                        <p>
                            <ul id="bl-work-items">
                                <li v-for="buy in buylist" :data-panel="buy.pnl"><a href="#"><img
                                            :src="buy.img" />商品名称：{{buy.name}}--商品id：{{buy.id}}--购买数量：{{buy.cnt}}--商品价格{{buy.prc}}</a>
                                </li>
                                <!-- <li data-panel="panel-1"><a href="#"><img src="../img/accnt-2.jpg" />商品1</a>
                                </li>
                                <li data-panel="panel-2"><a href="#"><img src="../img/accnt-2.jpg" />商品2</a>
                                </li>
                                <li data-panel="panel-3"><a href="#"><img src="../img/accnt-2.jpg" />商品3</a>
                                </li> -->
                            </ul>
                        </p>
                    </div>
                    <div class="content-right">
                        <p>您的购物统计：</p>
                        <button id="counter-btnSum" class="btn-confirm" @click="countSumPrc">
                            <p>点按以结算</p>
                        </button>
                        <button id="counter-btnPay" class="btn-confirm">
                            <p>完成支付</p>
                        </button>
                        <p>{{hints}}</p>
                        <p>当前商品总价为：{{sumprc}}</p>
                        <p>请扫描二维码付款：</p>
                        <img src="../img/qrcode.jpg" alt="此处加载收款二维码">
                    </div>

                </div>
                <span class="bl-icon bl-icon-close"></span>
            </section>
            <section>
                <div class="bl-box">
                    <h2 class="bl-icon bl-icon-blog">商品推荐</h2>
                </div>
                <div id="recommend" class="bl-content">
                    <div class="content-title">
                        <h2>当前客户认证身份：{{userid}} -- {{username}}</h2>
                    </div>
                    <div class=" content-interval"> </div>
                    <div class="content-text">
                        <p>下面是为您推荐的商品：</p>
                        <p>
                            <ul id="bl-work-items">
                                <li v-for="rcmd in rcmdlist" :data-panel="rcmd.pnl"><a href="#"><img
                                            :src="rcmd.img" />商品名称：{{rcmd.name}}--商品id：{{rcmd.id}}--商品价格{{rcmd.prc}}</a>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
                <span class="bl-icon bl-icon-close"></span>
            </section>
            <section>
                <div class="bl-box">
                    <h2 class="bl-icon bl-icon-contact">故障上报</h2>
                </div>
                <div class="bl-content">
                    <h2>敬请期待（滑稽）</h2>
                    <p>敬请期待（滑稽）</p>
                </div>
                <span class="bl-icon bl-icon-close"></span>
            </section>
            <!-- Panel items for the works -->
            <div class="bl-panel-items" id="bl-panel-work-items">
                <div data-panel="panel-1">
                    <div>
                        <img src="../img/accnt-1.jpg" />
                        <h3>商品111</h3>
                        <p>商品介绍</p>
                    </div>
                </div>
                <div data-panel="panel-2">
                    <div>
                        <img src="../img/accnt-1.jpg" />
                        <h3>商品2</h3>
                        <p>商品介绍</p>
                    </div>
                </div>
                <div data-panel="panel-3">
                    <div>
                        <img src="../img/accnt-1.jpg" />
                        <h3>商品3</h3>
                        <p>商品介绍</p>
                    </div>
                </div>
                <nav>
                    <span class="bl-next-work">&gt;下一件商品</span>
                    <span class="bl-icon bl-icon-close"></span>
                </nav>
            </div>
        </div>
    </div><!-- /container -->


    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script>
        document.mngrid = window.location.search.split('?')[1];
        alert(document.mngrid);
    </script>
    <script>
        var recg = new Vue({
            el: '#recg',
            data: {
                hints: 'hints',
                inputuserid: '',
                stat: 'stat',
                userid: 'userid',
                username: 'username',
                recgImgData: ''
            },
            mounted: function () {
                hints = "请将人脸摆放在摄像头前方：";
                var opt = {
                    audio: true,
                    video: {
                        width: 230,
                        height: 230
                    }
                };
                navigator.mediaDevices.getUserMedia(opt)
                    .then(function (mediaStream) {
                        var video = document.querySelector('video');
                        video.srcObject = mediaStream;
                        video.onloadedmetadata = function (e) {
                            video.play();
                        };
                    })
                    .catch(function (err) {
                        console.log(err.name + ": " + err.message);
                    }); // always check for errors at the end.
            }
        });

        $("#recg-btn").click(function (e) {
            alert("post recgBio");
            var videoEle = document.querySelector('video');
            canvas.getContext('2d').drawImage(videoEle, 0, 0, canvas.width, canvas.height);
            alert(canvas.toDataURL("image/png"));
            recgImgData = canvas.toDataURL("image/png");

            $.post("accntRecgBio", {
                imgrecg: recg.recgImgData
            }, function (result) {
                alert(result);
                var obj = JSON.parse(result);
                if (obj["stat"] == "invalid") {
                    recg.hints = "人脸信息识别失败，请重试。";
                } else {
                    recg.hints = "用户识别完成,请核对是否正确";
                    recg.userid = obj["userid"];
                    recg.username = obj["username"];
                    recg.username = obj["stat"];
                }
            });
            recg.hints = "人脸信息识别中，请稍候...";
        });

        $("#recg-input").keyup(function (e) {
            if (e.keyCode == 13) {
                alert("confirm userid verification.");
                $.post("accntRecgMan", {
                    userid: recg.inputuserid
                }, function (result) {
                    alert(result);
                    var obj = JSON.parse(result);
                    if (obj["stat"] == "invalid") {
                        recg.hints = "用户id信息识别失败，请重试。";
                    } else {
                        recg.hints = "用户识别完成,请核对是否正确";
                        recg.userid = obj["userid"];
                        recg.username = obj["username"];
                        recg.username = obj["stat"];
                    }
                });
                recg.hints = "用户id信息识别中，请稍候...";
            }
        });
    </script>

    <script>
        var counter = new Vue({
            el: "#counter",
            data: {
                userid: '',
                username: '',
                buylist: [],
                sumprc: 0,
                hints: '',
                goodsidCmd: ''
            },
            methods: {
                countSumPrc: function () {
                    var sum = 0;
                    for (var buy in buylist) {
                        sum += buy.prc * buy.cnt;
                    }
                    sumprc = sum;
                }
            }
        });


        $("#counter-btnPay").click(function (e) {
            alert("post counterPay");

            var lstUserID = [];
            var lstAccntID = [];
            var lstGoodsID = [];
            var lstGoodsCnt = [];

            for (var buy in counter.buylist) {
                lstUserID.push(counter.userid);
                lstGoodsID.push(buy.id);
                lstAccntID.push(document.mngrid);
                lstGoodsCnt.push(buy.cnt);
            }
            $.post("accntPay", {
                userid: lstUserID,
                accntid: lstAccntID,
                goodsid: lstGoodsID,
                goodscnt: lstGoodsCnt
            }, function (result) {
                alert(result);
                var obj = JSON.parse(result);
                if (obj["stat"] == "success") {
                    counter.hints = "支付信息提交成功！";
                } else {
                    counter.hints = "支付信息提交失败，请重试";
                }
            });
            counter.hints = "支付信息提交中，请稍候...";
        });

        $("#counter-input").keyup(function (e) {
            if (e.keyCode == 13) {
                alert("confirm goodid request");
                $.post("accntGdsQuery", {
                    goodsid: counter.goodsidCmd.split(";")[0],
                    goodscnt: counter.goodsidCmd.split(";")[1]
                }, function (result) {
                    alert(result);
                    var obj = JSON.parse(result);
                    if (obj["stat"] == "invalid") {
                        alert("当前商品不存在或库存不足，请重试。");
                    } else {
                        var ind = counter.buylist.length + 1;
                        var newbuy = {
                            pnl: "panel-" + ind,
                            name: obj["name"],
                            id: obj["id"],
                            img: obj["img"],
                            cnt: obj["cnt"],
                            prc: obj["prc"],
                            desc: obj["desc"]
                        };
                        counter.buylist.push(newbuy);
                    }
                });
                counter.hints = "商品内容拉取中，请稍候...";
            }
        });

        // var buy = {
        //     pnl: "panel-1",
        //     name: "name",
        //     id: "0001",
        //     img: "img",
        //     cnt: 1,
        //     prc: 12,
        // };

        // var buy2 = {
        //     pnl: "panel-2",
        //     name: "name2",
        //     id: "0002",
        //     img: "img2",
        //     cnt: 12,
        //     prc: 122,
        // };

        // counter.buylist.push(buy);
        // counter.buylist.push(buy2);

        var refreshCnter = function () {
            counter.userid = recg.userid;
            counter.username = recg.username;
            counter.buylist = [];
            counter.sumprc = 0;
            counter.hints = "";
            counter.goodsidCmd = "";
        }
    </script>

    <script>
        var recommend = new Vue({
            el: "#recommend",
            data: {
                userid: '',
                username: '',
                rcmdlist: []
            },
        });

        $("#recommend-btn").click(function (e) {
            alert("post rcmd");
            $.post("accntRcmd", {
                userid: recommend.userid
            }, function (result) {
                alert(result);
                var obj = JSON.parse(result);
                if (obj["stat"] == "invalid") {
                    alert("当前用户不存在或无可推荐，请重试。");
                } else {
                    var lstID = obj["id"];
                    var lstName = obj["name"];
                    var lstPrc = obj["prc"];
                    var lstImg = obj["img"];
                    var lstDesc = obj["desc"];

                    for (var i = 0; i < lstID.length; ++i) {
                        var newRcmd = {
                            pnl: "panel-" + i + 1,
                            name: lstName[i],
                            id: lstID[i],
                            img: lstImg[i],
                            prc: lstPrc[i],
                            desc: lstDesc[i]
                        };
                        recommend.rcmdlist.push(newRcmd);
                    };
                }
            });
        });


        var refreshRcmd = function () {
            recommend.userid = recg.userid;
            recommend.username = recg.username;
            recommend.rcmdlist = [];
        }
    </script>
    <script src="../js/accnt-box-boxlayout.js"></script>
    <script>
        $(function () {
            Boxlayout.init();
        });
    </script>
</body>

</html>