<!DOCTYPE html>
<html lang="zh">
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8" />
    <!--    <meta name="viewport" content="width-device-width,initial-scale=1.0">-->
    <meta http-equiv="X-UA-Compatible" content="sie-edge" />
    <link rel="stylesheet" type="text/css" href="../css/login-mngr-style.css">
    <title>业务员登录页面</title>


    <!-- submit -->
    <link rel="stylesheet" type="text/css" href="../css/login-btn-normalize.css" />
    <!-- <link rel="stylesheet" type="text/css" href="../css/login-btn-demo.css" /> -->
    <link rel="stylesheet" type="text/css" href="../css/login-btn-component.css" />
    <script src="../js/modernizr.custom.js"></script>


</head>

<body>
    <div class="container" id="container">
        <div id="login-model" class="form-container sign-in-container">
            <form action="#">
                <h1>欢迎登录SCRM！{{mngrid}}</h1>
                <!-- <div class="social-container"> <a href="#" class="social">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a> <a href="#" class="social">
                    <ion-icon name="logo-googleplus"></ion-icon>
                </a> <a href="#" class="social">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a> </div> -->
                <span>请输入：</span>
                <input type="userid" v-model="mngrid" placeholder="用户名">
                <input type="password" v-model="passwd" placeholder="密码">
                <button class="token-caption-btn" onclick="showLoginToken()">
                    <span>验证</span>
                </button>
                <div id="login-token">
                    ...
                </div>
                <!-- <button>登录</button> -->
                <div class="progress-button">
                    <button id="btnLogin"><span>登录</span></button>
                    <svg class="progress-circle" width="70" height="70">
                        <path
                            d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z" />
                    </svg>
                    <svg class="checkmark" width="70" height="70">
                        <path d="m31.5,46.5l15.3,-23.2" />
                        <path d="m31.5,46.5l-8.5,-7.1" /></svg>
                    <svg class="cross" width="70" height="70">
                        <path d="m35,35l-9.3,-9.3" />
                        <path d="m35,35l9.3,9.3" />
                        <path d="m35,35l-9.3,9.3" />
                        <path d="m35,35l9.3,-9.3" /></svg>
                </div>
            </form>
        </div>
    </div>
    <script>
        isLoginShowToken = false;
        isTokenOK = false;
    </script>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script>
        var login = new Vue({
            el: '#login-model',
            data: {
                mngrid: '',
                passwd: '',
                mngrtype: 3
            },
            mounted: function () {
                // alert("login-model is mounted.");
                document.loginReq = 0;
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        function postLogin(mngrid, passwd) {
            alert("postLogin start");
            $.post("mngrVerify", {
                mngrid: mngrid,
                passwd: passwd
            }, function (result) {
                alert(result);
                var obj = JSON.parse(result);
                if (obj.stat != "success") {
                    document.loginReq = -1;
                    window.jumpTarget = "login-mngr";
                    return;
                } else if (obj.mngrtype == "2") {
                    document.loginReq = 1;
                    window.jumpTarget = "accnt?" + obj.mngrid;
                } else if (obj.mngrtype == "1") {
                    document.loginReq = 1;
                    window.jumpTarget = "admin?" + obj.mngrid;
                } else if (obj.mngrtype == "0") {
                    document.loginReq = 1;
                    window.jumpTarget = "superadmin";
                } else {
                    document.loginReq = -1;
                    alert("当前网络状况不佳，请稍后再试。");
                    window.jumpTarget = "index";
                }
            });
            document.loginReq = 0;
            alert("postLogin end.");
            // window.localStorage.setItem("userid", obj["userid"]);-->fail in block!

            //  //  can be used for convey complex data
            // var obj = {
            //     "stat": "user",
            //     "userid": "why"
            // };
            // window.jumpTarget = "../html/rcmd.html?" + JSON.stringify(obj);
        }

        function postLoginToken(logintoken) {
            $.post("loginCheckToken", {
                token: logintoken
            }, function (result) {
                alert(result);
                var obj = JSON.parse(result);
                document.signupStat = obj["stat"];
                if (document.signupStat == "success") {
                    isTokenOK = true;
                } else {
                    isTokenOK = false;
                }
            });
        }
    </script>
    <!--    图标库-->
    <!--    <script src="../js/ionicons.js"></script>-->

    <!-- submit -->
    <script type="text/javascript" src="../js/classie.js"></script>
    <script type="text/javascript" src="../js/login-btn-uiProgressButton.js"></script>
    <script type="text/javascript">
        [].slice.call(document.querySelectorAll('.progress-button')).forEach(function (bttn, pos) {
            if (pos === 0) {
                /*login*/
                new UIProgressButton(bttn, {
                    callback: function (instance) {
                        var progress = 0;
                        if (isTokenOK == false) {
                            instance.setProgress(1);
                            instance.stop(-1);
                            setTimeout(() => {
                                alert("请完成验证操作，以表明您不是机器人。");
                            }, 1000);
                            return;
                        }
                        setTimeout(() => {
                            postLogin(login.mngrid, login.passwd);
                            alert(login.mngrid + "\t" + login.passwd);
                        }, 100);
                        var interval = setInterval(() => {
                            if (document.loginReq == 0) {
                                progress = Math.min(progress + Math.random() * 0.1, 0.5);
                                instance.setProgress(progress);
                            } else {
                                progress = 1;
                                instance.setProgress(progress);
                                instance.stop(document.loginReq);
                                document.loginReq = 0;
                                var timeout = setTimeout(() => {
                                    if (document.loginStat != "invalid")
                                        alert("html target:$" + window
                                            .jumpTarget + "$");
                                    window.location.href = window.jumpTarget;
                                }, 2000);
                                clearInterval(interval);
                            }
                        }, 1000);
                    }
                });
            }
        });
    </script>
    <script src="https://cdn.dingxiang-inc.com/ctu-group/captcha-ui/index.js"></script>
    <script>
        var myCaptchaLogin = _dx.Captcha(document.getElementById('login-token'), {
            appId: 'dfbcdad62304cb024d8a02efcc126200', //appId，在控制台中“应用管理”或“应用配置”模块获取
            success: function (token) {
                alert('token\t' + token);
                postLoginToken(token);
            }
        })
    </script>
    <script>
        function showLoginToken() {
            if (!isLoginShowToken) {
                $("#login-token").css({
                    "width": "80%",
                    "left": "10%",
                    "top": "20%",
                    "position": "absolute",
                    "visibility": "visible"
                });
                isLoginShowToken = true;
            } else {
                $("#login-token").css({
                    "width": "80%",
                    "left": "10%",
                    "top": "20%",
                    "position": "absolute",
                    "visibility": "hidden"
                });
                isLoginShowToken = false;
            }
        }
    </script>
</body>

</html>