<!DOCTYPE html>
<html lang="zh">
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="sie-edge" />
    <title>用户登录注册页面</title>

    <!-- CSS样式 -->
    <link rel="stylesheet" type="text/css" href="Web/login/css/login-style.css">
    <link rel="stylesheet" type="text/css" href="Web/login/css/login-btn-normalize.css" />
    <link rel="stylesheet" type="text/css" href="Web/login/css/login-btn-component.css" />

    <!--    前置js-->
    <script src="Web/login/js-ref/modernizr.custom.js"></script>
</head>

<body>
    <div class="container" id="container">
        <div id="signup-model" class="form-container sign-up-container">
            <form action="#">
                <h1>欢迎注册SCRM！{{userid}}</h1>
                <span>{{hints}}</span>
                <!-- <div class="social-container"> <a href="#" class="social">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a> <a href="#" class="social">
                    <ion-icon name="logo-googleplus"></ion-icon>
                </a> <a href="#" class="social">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a> </div> -->
                <span>请输入：</span>
                <input type="text" v-model="username" placeholder="真实姓名">
                <input type="userid" v-model="userid" onblur="postSignUpPre()" placeholder="用户名">
                <input type="password" v-model="passwd" placeholder="密码">
                <button type="button" class="token-caption-btn" onclick="showSignUpToken()">
                    <span>验证</span>
                </button>
                <div id="sign-up-token">
                    ...
                </div>
                <!-- <button>注册</button> -->
                <div class="progress-button">
                    <button type="button" id="btnSignup"><span>注册</span></button>
                    <svg class="progress-circle" width="70" height="70">
                        <path
                            d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z" />
                    </svg>
                    <svg class="checkmark" width="70" height="70">
                        <path d="m31.5,46.5l15.3,-23.2" />
                        <path d="m31.5,46.5l-8.5,-7.1" /></svg>
                    <svg class="cross" width="70" height="70">
                        <path d="m35,35l-9.3,-9.3" />
                        <path d="m35,35l9.3,9.3" />
                        <path d="m35,35l-9.3,9.3" />
                        <path d="m35,35l9.3,-9.3" /></svg>
                </div>
            </form>
        </div>
        <div id="login-model" class="form-container sign-in-container">
            <form action="#">
                <h1>欢迎登录SCRM！{{userid}}</h1>
                <!-- <div class="social-container"> <a href="#" class="social">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a> <a href="#" class="social">
                    <ion-icon name="logo-googleplus"></ion-icon>
                </a> <a href="#" class="social">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a> </div> -->
                <span>请输入：</span>
                <input type="userid" v-model="userid" placeholder="用户名">
                <input type="password" v-model="passwd" placeholder="密码">
                <button type="button" class="token-caption-btn" onclick="showLoginToken()">
                    <span>验证</span>
                </button>
                <div id="login-token">
                    ...
                </div>
                <!-- <button>登录</button> -->
                <div class="progress-button">
                    <button type="button" id="btnLogin"><span>登录</span></button>
                    <svg class="progress-circle" width="70" height="70">
                        <path
                            d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z" />
                    </svg>
                    <svg class="checkmark" width="70" height="70">
                        <path d="m31.5,46.5l15.3,-23.2" />
                        <path d="m31.5,46.5l-8.5,-7.1" /></svg>
                    <svg class="cross" width="70" height="70">
                        <path d="m35,35l-9.3,-9.3" />
                        <path d="m35,35l9.3,9.3" />
                        <path d="m35,35l-9.3,9.3" />
                        <path d="m35,35l9.3,-9.3" /></svg>
                </div>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>欢迎回来</h1>
                    <p>与我们保持联系请登录您的个人信息</p>
                    <button class="ghost" id="signIn">登录</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>欢迎光临</h1>
                    <p>输入您的个人资料，并与我们一起开始旅程</p>
                    <button class="ghost" id="signUp">注册</button>
                </div>
            </div>
        </div>
    </div>
    <!--后置js-->
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.dingxiang-inc.com/ctu-group/captcha-ui/index.js"></script>
    <script type="text/javascript" src="Web/login/js-ref/classie.js"></script>
    <script type="text/javascript" src="Web/login/js/login-btn-uiProgressButton.js"></script>
    <script src="Web/login/js/login-core.js"></script>
    <!--    图标库-->
    <!--    <script src="Web/login/js/ionicons.js"></script>-->
</body>

</html>